<head>
    <title>{{ if not .IsHome }}{{ .Title }} | {{ end }}{{ .Site.Title }}</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Lora:ital,wght@0,400;0,700;1,400;1,700&family=IBM+Plex+Mono:wght@400;700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/css/common.css" type="text/css" />
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="{{ if .Params.summary }}{{ .Params.summary }}{{ else }}{{ .Site.Params.subtitle }} — {{ .Site.Params.author }}{{ end }}"/>
    <meta name="author" content="{{ .Site.Params.author }}">
    <meta content="{{ if .Params.hidden }}noindex{{ else }}index{{ end }}, follow" name="robots">
</head>
