<aside id="sidebar">
    <h1 id="sidebar-title"><a href="/">{{ .Site.Title }}</a></h1>
    <p id="sidebar-subtitle">{{ .Site.Params.subtitle }}</p>

    <ul id="sidebar-nav">
        {{ range (where .Site.RegularPages "Params.series" true).ByParam "series_order" }}
        <li>
            <a href="{{ .RelPermalink }}"{{ if eq $.RelPermalink .RelPermalink }} class="active"{{ end }}>{{ .Title }}</a>
        </li>
        {{ end }}
    </ul>

    <a id="sidebar-pdf" href="{{ .Site.Params.pdfPath }}">Full series as PDF ↓</a>

    <div class="sidebar-signup">
        {{ partial "mailchimp.html" . }}
    </div>
</aside>
